<h2>Show PopupControl:</h2>

@Html.ActionLink("On Load", "OnLoad") |
@Html.ActionLink("After jQuery Ajax", "AfterJQueryAjax") |
@Html.ActionLink("After Sync Form Submit", "AfterSyncFormSubmit") |
@Html.ActionLink("After Async Ajax Form Submit", "AfterAsyncAjaxFormSubmit")